In [1]:
import pandas as pd
import numpy as np

In [2]:
class Solution:
    def method(self,df):
        return df


df= pd.DataFrame({'String col':['1','2','3','4'],
                  'Name':['Gopi','Kamran','Suri','Giri'],
                  'Integer column':[1,2,3,4], 
                  'Mixed column':['a',2,3.1,'d'],
                  'Missing column':['a',2,3,np.nan],
                  'Float column':[1.1,2.1,3.1,4.1],
                  'Boolean column':['True','False','True','True'],
                  'Money available':['200/-','300/-','20/-','100/-'],
                  'Custom':['Y','Y','N','N']})
                                                                                                                                                              #o indexing is integer all remaining are integers too                           
                                                                                                                                                              #o indexing is start with float all are float \\\ if it is starts with string , it remains same              
obj = Solution()
obj.method(df)

,String col,Name,Integer column,Mixed column,Missing column,Float column,Boolean column,Money available,Custom
0,1,Gopi,1,a,a,1.1,True,200/-,Y
1,2,Kamran,2,2,2,2.1,False,300/-,Y
2,3,Suri,3,3.1,3,3.1,True,20/-,N
3,4,Giri,4,d,NaN,4.1,True,100/-,N

In [3]:
df.dtypes

String col          object
Name                object
Integer column       int64
Mixed column        object
Missing column      object
Float column       float64
Boolean column      object
Money available     object
Custom              object
dtype: object

In [4]:
df.columns

Index(['String col', 'Name', 'Integer column', 'Mixed column',
       'Missing column', 'Float column', 'Boolean column', 'Money available',
       'Custom'],
      dtype='object')

In [5]:
df.shape

(4, 9)

In [6]:
df.info() #checking the null values
#df.info prints the total df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   String col       4 non-null      object
 1   Name             4 non-null      object
 2   Integer column   4 non-null      int64
 3   Mixed column     4 non-null      object
 4   Missing column   3 non-null      object
 5   Float column     4 non-null      float64
 6   Boolean column   4 non-null      object
 7   Money available  4 non-null      object
 8   Custom           4 non-null      object
dtypes: float64(1), int64(1), object(7)
memory usage: 416.0+ bytes

In [7]:
df['Float column'] = df['Float column'].astype('int') #converting the float to int
print(df['Float column'])

0    1
1    2
2    3
3    4
Name: Float column, dtype: int32

In [8]:
''' 
df['Float column'] = df['Float column'].astype('float') #converting the int to float
print(df['Float column'])
'''

" \ndf['Float column'] = df['Float column'].astype('float') #converting the int to float\nprint(df['Float column'])\n"

In [9]:
df['Integer column'] = df['Integer column'].astype('str') #converting the int to str
print(df['Integer column'])

0    1
1    2
2    3
3    4
Name: Integer column, dtype: object

In [10]:
df1 = pd.DataFrame({'a': [2334334,343434]}) #depends on the integer if it is small int32 
                                            #if it is big it will prints the type of the variable is int64
df1
df1.dtypes

a    int64
dtype: object

In [12]:
#Converting the ,multiple columns to particular data type
#eg:- int to float 
df = df.astype({'Integer column':'float','Float column':'float','String col':'float'}) #in dictionary we can give column name as key and valus as data type in python
print(df)  #3 columns will be printed as float data type

   String col    Name  Integer column Mixed column Missing column  \
0         1.0    Gopi             1.0            a              a
1         2.0  Kamran             2.0            2              2
2         3.0    Suri             3.0          3.1              3
3         4.0    Giri             4.0            d            NaN

   Float column Boolean column Money available Custom
0           1.0           True           200/-      Y
1           2.0          False           300/-      Y
2           3.0           True            20/-      N
3           4.0           True           100/-      N

In [17]:
value = value.replace('/-','')
x = (float(value))
df['Money available'].apply(x)

TypeError: cannot convert the series to <class 'float'>