In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('gender_submission.csv')

In [3]:
df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [4]:
df.shape

(418, 2)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

In [6]:
df.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [7]:
df.tail()

     PassengerId  Survived
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

In [8]:
df.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.363636
std     120.810458    0.481622
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [9]:
x  = df['PassengerId'] #independent
y = df['Survived'] #dependent

In [10]:
from sklearn.model_selection import train_test_split
#spliting data

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.02,random_state =123)
x_train.shape ,x_test.shape ,y_train.shape ,y_test.shape

((409,), (9,), (409,), (9,))

In [11]:
from sklearn.linear_model import LogisticRegression
#fitting data in Logisticregression

logreg = LogisticRegression()
logreg.fit(x_train,y_train)

ValueError: Expected 2D array, got 1D array instead:
array=[1269. 1178. 1131. 1124. 1084.  985.  940. 1213. 1110.  964. 1180. 1179.
 1062. 1300.  934. 1194. 1176. 1133. 1057. 1093.  901. 1043.  925. 1171.
 1080.  918. 1115. 1305. 1164. 1047.  897. 1088.  933. 1095. 1096. 1109.
  987. 1030. 1280. 1138. 1082. 1265. 1238. 1094. 1013.  946. 1177. 1184.
 1189. 1298.  994. 1074. 1159. 1134. 1077. 1153. 1144.  999. 1267.  912.
 1173. 1119.  993. 1205. 1040. 1208. 1108. 1278. 1181. 1063. 1039. 1258.
  923.  951. 1256.  913. 1290.  971. 1268. 1156. 1113.  947.  974. 1070.
 1006.  983. 1026. 1137. 1309. 1281. 1248.  944. 1012. 1201. 1252. 1291.
  892. 1128. 1034. 1233. 1286. 1249. 1152. 1036. 1049. 1247. 1200.  898.
 1175. 1042. 1251. 1129. 1215. 1282. 1017. 1023. 1219. 1083. 1276. 1071.
 1054. 1052. 1210. 1236. 1168. 1067.  930. 1092. 1064.  904.  922. 1222.
 1073. 1166. 1112. 1190. 1299.  997. 1101. 1076. 1123.  911.  921.  970.
 1266. 1051. 1140. 1279.  963.  986. 1091. 1296.  927. 1020.  966.  945.
  914. 1118. 1234. 1103. 1191. 1055. 1065.  982. 1225. 1261. 1306. 1243.
 1104. 1292. 1255.  896. 1081. 1277. 1167. 1069. 1035. 1295. 1044.  972.
 1009. 1048. 1158. 1127. 1260.  996.  953. 1000. 1019.  973. 1303. 1155.
  936. 1056. 1165.  981. 1288. 1284. 1262. 1244. 1207. 1058. 1102. 1059.
 1126. 1185.  899. 1187. 1007. 1228. 1150. 1239. 1028. 1132. 1220. 1141.
 1241. 1037. 1264.  977. 1218.  941.  929.  926. 1271. 1111.  915. 1169.
 1275. 1172. 1120.  902.  958.  920. 1099. 1237. 1016. 1198. 1053. 1121.
 1086. 1029. 1199. 1230. 1004.  961. 1024.  992. 1174. 1211. 1002. 1079.
 1014. 1246.  984. 1227. 1087.  954. 1293. 1066. 1235.  937. 1254. 1022.
  942.  989. 1089. 1107. 1130. 1209. 1304. 1224.  955. 1202. 1061. 1139.
 1149. 1143. 1161. 1289. 1301. 1045. 1263.  932. 1216. 1221.  957. 1098.
  900.  969.  950. 1142. 1011. 1033.  980. 1308. 1192. 1146.  952. 1148.
 1193. 1188. 1273.  938.  978. 1001. 1025.  908. 1195. 1085. 1272. 1008.
 1186.  919. 1032. 1090.  906.  979. 1157. 1154. 1114. 1135. 1151. 1229.
  995. 1041. 1031.  959.  895.  948. 1196. 1125.  943.  893.  910. 1160.
 1283. 1204.  917. 1075. 1078.  935. 1021. 1136. 1147. 1162. 1285. 1046.
  962. 1270. 1050. 1287. 1163. 1038. 1097. 1170. 1206. 1223.  956. 1217.
 1302. 1060.  968. 1182. 1242. 1010. 1105. 1245. 1250. 1072. 1240.  991.
 1253. 1027. 1068. 1294.  976. 1307.  931. 1232.  894. 1203. 1197.  960.
 1100. 1297. 1145. 1226. 1231. 1003. 1116.  924.  965.  939. 1018. 1005.
  988. 1117. 1106.  949. 1015.  998.  975.  909. 1122.  990. 1214. 1274.
 1257.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.