# IMPORTING ALL LIBRARIES

In [1]:


import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [94]:
df_sample = pd.read_csv("/kaggle/input/km054regression/Sample.csv")
df_sample.head()

   ID  Expected
0   1       171
1   2       165
2   3       167
3   4       161
4   5       156

In [95]:
df_train = pd.read_csv("/kaggle/input/km054regression/train.csv")
df_train.head()

  SystemCodeNumber  Capacity  Occupancy       LastUpdated
0      BHMBCCMKT01       577         61  04-10-2016 07:59
1      BHMBCCMKT01       577         64  04-10-2016 08:25
2      BHMBCCMKT01       577         80  04-10-2016 08:59
3      BHMBCCMKT01       577        107  04-10-2016 09:32
4      BHMBCCMKT01       577        150  04-10-2016 09:59

In [96]:
df_test = pd.read_csv("/kaggle/input/km038regression/test.csv")
df_test.head()
df_test['SystemCodeNumber'].unique()

array(['BHMBCCMKT01'], dtype=object)

In [97]:
print(df_train['SystemCodeNumber'].unique())
print(df_train['Capacity'].unique())
print(df_test['SystemCodeNumber'].unique())
print(df_test['Capacity'].unique())

['BHMBCCMKT01']
[577]
['BHMBCCMKT01']
[577]

# DATA PREPROCESSING

In [98]:
df_train.isna().sum()

SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
dtype: int64

In [99]:
from sklearn.preprocessing import LabelEncoder
for i in ['SystemCodeNumber','LastUpdated']:
    df_train[i] = LabelEncoder().fit_transform(df_train[i])
    df_test[i] = LabelEncoder().fit_transform(df_test[i])

In [100]:
df_train.head()

   SystemCodeNumber  Capacity  Occupancy  LastUpdated
0                 0       577         61            0
1                 0       577         64            1
2                 0       577         80            2
3                 0       577        107            3
4                 0       577        150            4

In [101]:
df_test.head()

   SystemCodeNumber  Capacity  LastUpdated
0                 0       577            0
1                 0       577            1
2                 0       577            2
3                 0       577            3
4                 0       577            4

In [102]:
x = df_train.drop(columns=['Occupancy'])
y = df_train['Occupancy']

In [103]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x = pd.DataFrame(scaler.fit_transform(x))

In [104]:
x

       0    1         2
0    0.0  0.0 -1.727801
1    0.0  0.0 -1.719118
2    0.0  0.0 -1.710436
3    0.0  0.0 -1.701753
4    0.0  0.0 -1.693070
..   ...  ...       ...
394  0.0  0.0  1.693157
395  0.0  0.0  1.701840
396  0.0  0.0  1.710523
397  0.0  0.0  1.710523
398  0.0  0.0  1.719205

[399 rows x 3 columns]

# APPLYING REGRESSION

In [105]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3)
model_dt = DecisionTreeRegressor(max_depth=3)

model_dt.fit(xtrain,ytrain)

DecisionTreeRegressor(max_depth=3)

In [106]:
from sklearn.metrics import r2_score
print(r2_score(ytrain,model_dt.predict(xtrain)))

0.39963931976433853

In [107]:
from sklearn.linear_model import LinearRegression
model_lr = LinearRegression()
model_lr.fit(xtrain,ytrain)

LinearRegression()

In [108]:
print(r2_score(ytrain,model_lr.predict(xtrain)))

0.005991799241851559

In [109]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=7)
poly_data = poly.fit_transform(xtrain)
model_lr.fit(poly_data,ytrain)
print(r2_score(ytrain,model_lr.predict(poly_data)))

0.027302622045983216

In [110]:
from sklearn.linear_model import Lasso
model_la = Lasso()
model_la.fit(xtrain,ytrain)

Lasso()

In [111]:
print(r2_score(ytrain,model_la.predict(xtrain)))

0.005870391760042004

In [112]:
from sklearn.linear_model import RANSACRegressor
model_rs = RANSACRegressor()
model_rs.fit(xtrain,ytrain)

print(r2_score(ytrain,model_rs.predict(xtrain)))

-0.0017885935475845383

In [113]:
from sklearn.linear_model import Ridge,ElasticNet

model_r = Ridge(alpha=0.1)
model_r.fit(xtrain,ytrain)
model_en = ElasticNet(alpha=0.1)
model_en.fit(xtrain,ytrain)
print(r2_score(ytrain,model_r.predict(xtrain)))
print(r2_score(ytrain,model_en.predict(xtrain)))

0.005991798528188097
0.005975134254923242

In [114]:
result = pd.DataFrame()

In [115]:
result['ID']= pd.DataFrame(range(1,df_test.shape[0]+1))
result

      ID
0      1
1      2
2      3
3      4
4      5
..   ...
115  116
116  117
117  118
118  119
119  120

[120 rows x 1 columns]

In [119]:
result['Expected'] = model_en.predict(df_test)

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but ElasticNet was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [120]:
result.head()

   ID    Expected
0   1  167.983761
1   2  174.393617
2   3  180.803473
3   4  187.213329
4   5  193.623184

In [121]:
result.to_csv("12115851.csv")