In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'Age':[10,20,40,50,70,90],'Failures':[15,30,40,55,75,90]})
#df.index=['a','b','c','d','e','f']
df

   Age  Failures
0   10        15
1   20        30
2   40        40
3   50        55
4   70        75
5   90        90

# MSE

In [3]:
from sklearn.metrics import mean_squared_error
import math
y_actual = [10,20,30,40,50]
y_predicted = [1.6,2.5,2.9,3,4.1]
 
MSE = mean_squared_error(y_actual, y_predicted)
print("Mean square value : ", MSE)

Mean square value :  917.4060000000002

# RMSE

In [4]:
RMSE = math.sqrt(MSE)
print("Root Mean Square Error: ",RMSE)

Root Mean Square Error:  30.288710768205373

IndexError: pop from empty list